body.dark{
    .landinginfo__bg{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMzEyLjc4NiIgaGVpZ2h0PSI2ODQuOTIzIiB2aWV3Qm94PSIwIDAgMjMxMi43ODYgNjg0LjkyMyI+CiAgPHBhdGggaWQ9ItCa0L7QvdGC0YPRgF8yODEiIGRhdGEtbmFtZT0i0JrQvtC90YLRg9GAIDI4MSIgZD0iTTExODYuMSw2NDAuOTE4bC05LjkzMywxNC4xNTMtMTIuMTEsMTcuMjUyYTkuMTQ5LDkuMTQ5LDAsMCwxLTE1LjMzNSwwbC0xMi4xMDktMTcuMjUyLTkuOTMzLTE0LjE1M0gwdjY4NC45MjNIMjMxMi43ODZWNjQwLjkxOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTY0MC45MTgpIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
    }
    .landingslider__first{
        background-color: #141414;
        box-shadow : 4px 4px 17px rgba(0, 0, 0, 1);
        .landing__slider__nav{
            filter: brightness(0) saturate(100%);
            filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(97%) contrast(94%);
        }
    }
    .points{
        background-color: #1C1C1C;
    }

    .promo__text{
        & ul{
            & li{
                color: #b9b9b9;
            }
        }
    }

    .promo__first{
        &--abs{
            background: #1C1C1C;
        }
    }
    
    .product-card {
        background-color: #1C1C1C;
    }
}